@page "/"

<PageTitle>Strawann Confectionery</PageTitle>

@if (GetCount() == 0) {
    <h2>На данный момент у вас нет активных заказов</h2>
    return;
}

@code {
    List<OrderViewModel> Orders = new();

    private int GetCount()
    {
        int result = 0;
        foreach (var order in Orders)
        {
            result++;
        }

        return result;
    }
}

